<div class="r-ticket-options">
    <div class="r-ticket-options__content r-ticekt-options__content-header">

    </div>
    <div class="r-ticket-options__content r-ticket-options__content-body">

        <app-scroll-container>
            <div class="c-quantity-counter">
                <span class="c-quantity-counter__button c-quantity-counter__button--minus">
                <img src="assets/images/minus-icon.svg">
            </span>
                <label class="c-quantity-counter__number-counter">0</label>
                <span class="c-quantity-counter__button c-quantity-counter__button--plus">
                <img src="assets/images/plus-icon.svg">
            </span>
            </div>
        </app-scroll-container>
    </div>

</div>