h1 {
    color: getColor(black);
    @include font-family(extra-bold);
    font-size: 36px;
    letter-spacing: -0.14px;
    line-height: 1.2em;
}

h2 {
    color: getColor(black);
    @include font-family(bold);
    font-size: 18px;
    line-height: 1.2em;
}

h3 {
    color: getColor(black);
    @include font-family(regular);
    font-size: 16px;
    line-height: 1.2em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none; 
    margin: 0; 
}