.r-ticket-print-options {
    display: block;
    color: getColor(black);    
    background: url("/assets/images/background/dark-background-pattern.png") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    width: 100%;

    &__header {
        padding: 40px 0px 0px 0px;
        display: flex;
        width: 100%;

        &-left {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-left: 90px;
        }

        &-right {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: center;
            justify-content: flex-end;
            min-width: 60px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 500px;
    }

    &__mood-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        list-style-type: none;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        max-width: 360px;
    }

    &__mood-item {
        display: inline-block;
        padding-top: 41px;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        &-info-text{
            color: white;
            font-size: 20px;	
            line-height: 27px;
            padding-top: 25px !important;
        }
    }

}