.r-ticket-wallet-login {
    display: block;
    color: getColor(white);
    background: url("/assets/images/background/dark-background-pattern.png") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    width: 100%;

    &__header {
        padding: 40px 0px 0px 0px;
        display: flex;
        width: 100%;

        &-left {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding-left: 90px;
        }

        &-right {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            align-items: center;
            justify-content: flex-end;
            min-width: 60px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 450px;
        min-height: 500px;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    &__title {
        @include font-family(bold, 32px);
        line-height: 1.2em;
        color: getColor(white);
    }

    &__description {
        @include font-family(regular, 20px);
        line-height: 1.2em;
        color: getColor(white);
        margin-top: 15px;
    }

    &__form-group {
        display: block;
        width: 100%;
        max-width: 270px;
        margin-top: 50px;
    }

    &__form-control {
        display: block;
        position: relative;
        text-align: left;
        & + .r-ticket-wallet-login__form-control {
            margin-top: 50px;
        }
    }

    &__form-submit {
        display: block;
        position: relative;
        margin-top: 50px;
    }

    &__info {
        display: block;

        @include font-family(regular, 16px, italic);
        line-height: 1.2em;
        color: getColor(white);

        margin-top: 20px;

        b {
            @include font-family(bold, 16px);
        }
    }

}